html, body{
  height: 100%;
  background-color: white;
}
text-center{
  text-align: center;
}
header{
  width: 100%;
  height: 40px;
  background-color: black;
}
.elements{
  display: flex;
  flex-direction: row;
}
.elements p{
margin: 8px;
color: white;
}
input[type=text] {
  color: transparent;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid black;
  width: 100%;
}
.registration-form{
  width: 40%;
}
.registration-button{
  margin-top: 20px;
  width: 100%;
}
.services{
  margin: 10px;
}
.services svg{
  margin: 0px 10px;
}
.container-main {
  height: 600px;
  position: relative;
  text-align: center;
  color: white;
}
.container-main span{
  font-size: 40px;
}
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.about-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 300px;
}
.scrollcontainer {
  display: flex;
  flex-wrap: no-wrap;
  overflow-x: auto;
  margin-top: 30px;
}
.scrollcontainer img {
  flex: 0 0 auto;
  width: 300px;
  height: 300px;
  max-width: 100%;
  margin-right: 10px;
  object-fit: cover;
}
footer{
  height: 100px;
  background-color: black;
}
 /*НоВЫЕ*/

.container{
  display: flex;
  flex-direction: column;
  /*height: 100%;*/
  width: 60%;
  align-items: flex-start;
  margin-top: 50px;
  justify-content: center;
}
.post{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 300px;
  margin-bottom: 20px;
}
.post-info{
  margin: 20px;
  display: flex;
  flex-direction: column;
}
.posts-header{
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  flex-direction: row;
}
.post-info-footer{
  display: flex;
  flex-direction: row;
}
.posts-header{
  display: flex;
  margin-top: 40px;
  margin-bottom: 40px;
  width: 100%;
  flex-direction: row;
}