@page
@model FoodSemWork.Models.UserViewModel

@{
    ViewBag.Title = "AboutUs";

}

<head>
    <meta charset="UTF-8">
    <title>Еда</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/style.css " />


</head>



<h2 class="text-center" style="margin-top: 20px;">
    О нас
</h2>

<div class="about-container" style="margin-top:100px;">

    <div class="about-element">
        <p class="text-center">
            Онищенко Александр
        </p>
        <p class="text-center" style="font-weight: bold;">
            Frontend
        </p>
        <img src="~/pic/frontend.jpg" runat="server" style="object-fit: cover; height: 400px;" />
    </div>

    <div class="about-element">
        <p class="text-center">
            Герасимова Олеся
        </p>
        <p class="text-center" style="font-weight: bold;">
            ProductOwner
        </p>
        <img src="~/pic/po.jpg" runat="server" style="object-fit: cover; height: 400px;" />
    </div>

    <div class="about-element">
        <p class="text-center">
            Соловяненко Олег
        </p>
        <p class="text-center" style="font-weight: bold;">
            Backend
        </p>
        <img src="~/pic/backend.jpg" runat="server" style="object-fit: cover; height: 400px;" />
    </div>

</div>
