@model FoodSemWork.Models.User;

@{
    ViewBag.Title = "Profile";

}



<head>
    <meta charset="UTF-8">
    <title>Еда</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="~/css/style.css">
</head>

<body>
    @*<header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">Главная</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#">Блог </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Контакты</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Галерея</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Наша команда</a>
                        </li>
                    </ul>
                    <span class="navbar-text">
                        <img src="https://lh3.googleusercontent.com/proxy/Rkg8z1crcj5MSA6atr-jK-qjIDzF8QX0sFVU62xEBNWt_NpYEno_oSw29MvBKjucDhh5pcqaZMRKVTYaTjoaXQuXJymoMBgMuT2wCyZASVk5ZCmgxMxk7hhb_RA0_VcMVMJNsQFPdHCOcWe-nculrXjb72RnkgaFCrQNhz1ZBzFs3txMgCu_1DdqX0nv7w" height="32" width="32">
                    </span>
                </div>
            </nav>
        </header>*@


    <div class="container" style="display: flex; flex-direction: row;">

        <!-- 1 column -->
        <div style="display: flex; flex-direction: column; justify-content: start; align-items: flex-start!important; height: 80%; width: 40%;">
            <div style=" height: 100px; width: 100px;">
                @if (Model.Avatar != null)
                {
                    <img style='width:200px; height:200px;margin-top:10px' src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Avatar))" />
                }
                <p>@Model.Username</p>
                <p>Пользователь</p>
                @if (Model.Birthday != null)
                {
                    <p>Дата рождения : @Model.Birthday</p>
                }
            </div>

        </div>


        <!-- 2 col -->
        <div class="container" style="display: flex; flex-direction: column; justify-content: start; align-items: flex-start; height: 80%; width: 60%">
            <div style="width: 100%">
                <p style="font-size: 30px;">Мой аккаунт</p>
                <p>Посмотрите и отредактируйте сведения о себе</p>
            </div>

            <div style="width: 100%; margin-top: 20px;">
                <p style="font-size: 30px;">Открытая информация</p>
                <p>Карточка профиля видна всем пользователям этого сайта</p>
                <p>Имя</p>
                <input type="text" name="name" value="@Model.Username" style="color: black;">
            </div>

            <div style="width: 100%;  margin-top: 20px;">
                <p style="font-size: 30px;">Аккаунт</p>
                <p style="">Обновите и редактируйте информацию, которой вы делитесь с сообществом</p>
                <p>Эл. почта для входа</p>
                <input type="text" name="name" value="@Model.Email" style="color: black;">
                <p>Эл. почту изменить нельзя</p>

                @*<div class="row" style="width: 100%; margin-top: 20px">
                        <div class="col-sm">
                            <p>Имя</p>
                            <input type="text" name="email">
                        </div>
                        <div class="col-sm">
                            <p>Эл. почта</p>
                            <input type="text" name="email">
                        </div>
                    </div>

                    <div class="row" style="width: 100%; margin-top: 20px">
                        <div class="col-sm">
                            <p>Телефон</p>
                            <input type="text" name="email">
                        </div>
                        <div class="col-sm">
                            <p>Адрес</p>
                            <input type="text" name="email">
                        </div>
                    </div>*@
            </div>

        </div>

    </div>

    <div class="Settings_button">
        <a asp-action="Settings" asp-controller="Account" class="ButtonsStyle">
            Настроить пользователя
        </a>
    </div>
    <div class="Settings_button">
        <a asp-action="Logout" asp-controller="RegistrationLogin" class="ButtonsStyle">
            Выйти
        </a>
    </div>

    <div style="height:100px margin-top:25px "><br><br /></div>
    <div style="height:100px margin-top:10px "><br><br /></div>

</body>


